@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    /* Image de fond voilée */
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url('https://st3.depositphotos.com/13324256/16360/i/450/depositphotos_163603140-stock-photo-woman-cutting-mushrooms.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Dancing Script", cursive;
    font-weight: 700;
    color: white;
}

